.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.header .control {
  background-color: #213452;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.header .control:hover {
  background-color: #1d2e49;
}
