.statistics {
  width: 100%;
  display: flex;
  justify-content: center;
}

.statistics .item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.2rem 1rem;
}

details {
  border: var(--border);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0;
  box-shadow: var(--shadow);
  max-width: 22rem;
  width: 100%;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  background-color: var(--primary-widget-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

details[open] {
  padding: 0.5rem;
  background-color: var(--secondary-widget-color);
}

details[open] summary {
  border: var(--border);
  margin-bottom: 0.5rem;
}