* {
  margin: 0;
}

:root {
  --color-text: #CACDD2;
  --color-on-button: var(--color-text);

  --time-tracker-width: 17rem;
  --time-tacker-padding: 1rem;

  --shadow: 0 0 1rem #121E38;
  --border: 1px solid #212F4A;

  --primary-widget-color: #121E38;
  --secondary-widget-color: #1A2B49;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #14223D;
}

:root, button, input {
  color: var(--color-text);
}
