.timer {
  border: var(--border);
  border-radius: 2rem;
  width: var(--time-tracker-width);
  padding: var(--time-tacker-padding);
  background: linear-gradient(var(--primary-widget-color), var(--secondary-widget-color));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  box-shadow: var(--shadow);
}

.timer .header .name {
  background: none;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
}

.timer .header .name:focus {
  border: none;
  outline: none;
}

.timer .header {
  background-color: #0D1627;
  border-radius: 1.2rem
}

.timer .body {
  text-align: center;
}

.timer .body .remaining-time {
  margin: 0;
  font-size: 3rem;
  cursor: default;
}

.timer .body .target-time {
  background: none;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

.timer .body .target-time:focus {
  border: none;
  outline: none;
}

.timer .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timer .footer .control {
  background-color: #0D182C;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.7rem;
  height: 3.3rem;
  cursor: pointer;
  text-transform: uppercase;
}

.timer .footer .control:hover {
  background-color: #111f39;
}

.timer .footer .control svg {
  height: 100%;
  fill: var(--color-on-button);
}
